.container {
  display: flex;
  gap: 72px;
  margin: 84px auto 104px;
  max-width: 1200px;
}
.rightSideWrp {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.img {
  width: 640px;
  height: 512px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.brandTextWrp {
  display: flex;
  align-items: center;
  gap: 16px;
}

.titleInfo {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  padding-bottom: 8px;
}
.titleSpan {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}
.locationWrp {
  display: flex;
  /* gap: 16px; */
  column-gap: 16px;
}
.location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.mileageWrp {
  align-items: center;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--blue);
  margin-top: 16px;
  margin-bottom: 32px;
  font-family: "Manrope", sans-serif;
}

.li,
.info {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  max-width: 488px;
}

.listWrp {
  display: flex;
  flex-direction: column;
  row-gap: 53px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}
.ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  & li {
    display: flex;
    column-gap: 8px;
    align-items: center;
    & p {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
