.searchBarWrp {
margin-top:84px;
margin-bottom: 56px;
display:flex;
justify-content:center;

}
.form {
  display: flex;
  gap: 16px;
  align-items:end;
}

.btn{
    padding: 0;
  border: none;
  border-radius:12px;
background:var(--blue);;
  cursor: pointer;
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: var(--white);  
width: 156px;
height: 44px;
}
