.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
}

.errorCode {
  font-size: 80px;
  margin-bottom: 20px;
}

.message {
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3470ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
